<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>EXAppExtensionAttributes</key>
	<dict>
		<key>EXExtensionPointIdentifier</key>
		<string>com.apple.mediaextension.formatreader</string>
		<key>EXPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).WebMFormatReaderExtension</string>
		<key>ClassImplementationID</key>
		<string>com.sevdestruct.webm.formatreader</string>
		<key>MTFileNameExtensionArray</key>
		<array>
			<string>webm</string>
		</array>
		<key>MTUTTypeArray</key>
		<array>
			<string>org.webmproject.webm</string>
		</array>
		<key>ObjectName</key>
		<string>WebM Video Format Reader</string>
	</dict>
</dict>
</plist>
